<form [formGroup]="locationForm">
<mat-dialog-content class="layout-labels">
  <h2 fxFlex fxLayoutAlign="center" fxLayout="row">
    <strong>{{data.formType}}</strong>
  </h2>
    <mat-form-field>
      <mat-label>city</mat-label>
      <input matInput type="text" formControlName="city" [errorStateMatcher]="locationMatcher" required/>
      <mat-error *ngIf="hasError('city', 'required')">required</mat-error>
      <mat-error *ngIf="hasError('city', 'maxlength')">too long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>street</mat-label>
      <input matInput type="text" formControlName="street" [errorStateMatcher]="locationMatcher" required/>
      <mat-error *ngIf="hasError('street', 'required')">required</mat-error>
      <mat-error *ngIf="hasError('city', 'maxlength')">too long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>flat number</mat-label>
      <input matInput formControlName="flatNumber" [errorStateMatcher]="locationMatcher" required maxlength="4" OnlyNumber="true"/>
      <mat-error *ngIf="hasError('flatNumber', 'required')">required</mat-error>
      <mat-error *ngIf="hasError('flatNumber', 'maxlength')">too long</mat-error>
      <mat-error *ngIf="hasError('flatNumber', 'pattern')">only numbers</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>description</mat-label>
      <input matInput type="text" formControlName="description" [errorStateMatcher]="locationMatcher" required/>
      <mat-error *ngIf="hasError('description', 'required')">required</mat-error>
      <mat-error *ngIf="hasError('city', 'maxlength')">too long</mat-error>
    </mat-form-field>

  <div fxFlex fxLayoutAlign="center" fxLayout="row" class="button-style">
    <button mat-raised-button fxFlex="30" class="save_button" [disabled]="isSaveButtonDisabled$" (click)="onSave() ">
      SAVE
    </button>
    <button mat-raised-button color="warn" fxFlex="30" style="margin-left: 10%" (click)="onCancel()">
      CANCEL
    </button>
  </div>
</mat-dialog-content>
</form>
