<mat-nav-list>


  <h2 matSubheader>Configuration</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>computer</mat-icon>
    Machines
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">
    <mat-icon>shopping_bag</mat-icon>
    Products
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/locations">
    <mat-icon>location_on</mat-icon>
    Locations
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>error_outline</mat-icon>
    Problems
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>trending_up</mat-icon>
    Statistics
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>content_paste</mat-icon>
    Import
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>content_copy</mat-icon>
    Export
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Help</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>help_outline</mat-icon>
    Instruction
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Contact</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/support">
    <mat-icon>support_agent</mat-icon>
    Support
  </a>

</mat-nav-list>
