<div fxLayout="column" fxLayoutAlign="center" style="height:70%">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="50">
      <mat-card-header class="card-header">
        <h1>
          <strong>Contact us</strong>
        </h1>
      </mat-card-header>

      <div class="form-style">
        <mat-form-field >
          <mat-label>Name</mat-label>
          <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Reason</mat-label>
          <mat-select required>
            <mat-option *ngFor="let reason of contactReasons" [value]="reason">{{reason}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Leave a comment</mat-label>
          <textarea matInput required></textarea>
        </mat-form-field>

        <button mat-raised-button type="button" color="primary">Submit</button>
      </div>
    </mat-card>
  </div>
</div>


