<div class="direct-contact">
  <mat-divider style="margin-top: 20px; margin-bottom: 20px"></mat-divider>
  <div fxLayout="row" fxLayoutAlign="end">
    <mat-card fxFlex="20">
      <mat-card-header class="contact-card-header">
        <h4>
          <strong>Direct contact</strong>
        </h4>
      </mat-card-header>
      <div class="contact-info-display">
        <h3>
          <strong>Address: </strong>
          Warszawa, Waryńskiego 12
        </h3>
        <h3>
          <strong>Email: </strong>
          grz3lak1997@gmail.com
        </h3>
      </div>
    </mat-card>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center" style="height:60%">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="50">
      <mat-card-header class="card-header">
        <h1>
          <strong>Contact us</strong>
        </h1>
      </mat-card-header>

      <div class="form-style">
        <mat-form-field >
          <mat-label>Name</mat-label>
          <input matInput type="text" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Reason</mat-label>
          <mat-select required>
            <mat-option *ngFor="let reason of contactReasons" [value]="reason">{{reason}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Leave a comment</mat-label>
          <textarea matInput required></textarea>
        </mat-form-field>

        <button mat-raised-button type="button" color="primary">Submit</button>
      </div>
    </mat-card>
  </div>
</div>


