.list-group {
  clear: both;
  display: block;
  content: "";
  padding-top: 10px;
  padding-left: 5px;
}

.list-group-item {
  float: left;
  border: 0 !important;
  margin: 0px;
  padding: 10px 0px;
}

.list-group-item:hover {
  background: #ccc5c5;
  color: red;
}

.a {
  padding: 5px;
}
